In [1]:
import MetaTrader5 as mt5
import os
import pandas as pd

In [2]:
login = os.environ.get("LOGIN")
password = os.environ.get("PASSWORD")
server = os.environ.get("SERVER")
 
# runs MetaTrader5 client
# MetaTrader5 platform must be installed
mt5.initialize()
 
# log in to trading account
mt5.login(login, password, server)

False

In [3]:
symbol = 'EURUSD'
timeframe = 1 # integer value representing minutes
start_bar = 0 # initial position of first bar
num_bars = 1000 # number of bars
 
bars = mt5.copy_rates_from_pos(symbol, timeframe, start_bar, num_bars)

In [5]:
# create DataFrame out of the obtained data
rates_frame = pd.DataFrame(bars)
# convert time in seconds into the datetime format
rates_frame['time']=pd.to_datetime(rates_frame['time'], unit='s')

In [6]:
rates_frame

,time,open,high,low,close,tick_volume,spread,real_volume
0,2024-11-08 07:19:00,1.07822,1.07838,1.07821,1.07833,22,16,0
1,2024-11-08 07:20:00,1.07834,1.07850,1.07831,1.07850,39,16,0
2,2024-11-08 07:21:00,1.07850,1.07857,1.07845,1.07850,30,16,0
3,2024-11-08 07:22:00,1.07852,1.07856,1.07852,1.07855,57,16,0
4,2024-11-08 07:23:00,1.07854,1.07854,1.07835,1.07836,46,16,0
...,...,...,...,...,...,...,...,...
995,2024-11-08 23:54:00,1.07173,1.07173,1.07165,1.07167,25,27,0
996,2024-11-08 23:55:00,1.07168,1.07181,1.07166,1.07179,91,26,0
997,2024-11-08 23:56:00,1.07176,1.07180,1.07172,1.07176,75,26,0
998,2024-11-08 23:57:00,1.07175,1.07177,1.07169,1.07169,30,27,0
999,2024-11-08 23:58:00,1.07169,1.07176,1.07169,1.07174,16,27,0